html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../Images/mainbackground.png') repeat;
    background-color: #ffffff;
}

.navbar {
    background-color: #3F6C83;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-left {
    display: flex;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}
.maintitle {
    cursor: pointer;
    width: 300px;
    height: auto;
}
.hero {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    background-color: #5F98B5;
}

.help-center-cat {    
    width: 500px;
}

.faq {
    text-align: center;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

.q-1, .q-2, .q-3 {
    margin: 12px;
    text-align: center;
    width: 700px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
}


.footer {
    background-color: #2f6f89;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
