body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../Images/mainbackground.png') repeat;
    background-color: #ffffff;
}

.navbar {
    background-color: #3F6C83;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-left {
    display: flex;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}
.maintitle {
    cursor: pointer;
    width: 300px;
    height: auto;
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.profile-picture {
    
    margin: 50px;
    width: 120px;
 }

 .info {
    display: flex;
    justify-content: center;
    color:#ffffff;
 }

.deets {
    text-align: left;
    height: 40px;
    width: 200px;
    font-size: 19px;
    font-weight: 800;

}

.response {
    text-align: center;
    width: 200px;
    font-size: 19px;
}


.profile-box {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}

.pet-profile, .user-profile {
    background-color: #3c89af93;
    width: 470px;
    height: 540px;
    text-align: center;
    align-items: center;
}

.profile-updated {
    color: rgb(24, 172, 56);
    font-weight: 900;
    text-align: center;    
}

.button {
    font-size: 18px;
    color: rgb(255, 255, 255);
    background:rgba(58, 102, 182, 0.555);

}

.footer {
    background-color: #5F98B5;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
